.bar {
    display: inline-block;
    background-color: teal;
    margin-right: 2px;
}

rect {
    transition: 0.1s fill;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#modal {
    background: #fff;
    border: 1px solid;
    border-radius: 0.5em;
    display: none;
    padding: 0.5em 0.75em;
    position: absolute;
    text-align: center;
    width: 200px;
}
